<div class="col-lg-6" id="player_one">
    <div id="player_one_name_here"></div>
    <%= render "_moves.html" %>
</div>

<div class="col-lg-6" id="player_two">
    <div id="player_two_name_here"></div>
    <%= render "_moves.html" %>
</div>
