
<div class="row">
    <div class="col-md-5" id="player_one">
        <div id="player_one_name_here"></div>
        <%= render "_moves.html" %>
    </div>

    <div class="col-md-2">
        <h1 id="vs" style="display: none;">VS</h1>
    </div>

    <div class="col-md-5" id="player_two">
        <div id="player_two_name_here"></div>
        <%= render "_moves.html" %>
    </div>
</div>
