.center {
    text-align: center;
}

.full {
    width: 100%;
}

.smcap {
    font-variant: small-caps;
}
#outcome {
    font-weight: bold;
    font-size: 200%;
    font-variant: small-caps;
    text-align: center;
}

.player_name {
    text-align: center;
}

.player_move {
    text-align: center;
}

#vs {
    text-align: center;
}
