<div class="jumbotron">
  <h2>Welcome to CodeMash v.2.0.1.6!</h2>
  <p class="lead">ROCK. PAPER. SCISSORS.</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Currently Online</h4>
    <p>Nobody Yet</p>
  </div>

  <div class="col-lg-6">
    <h4>Ready To Play?</h4>
    <form>
        <label for="username">Username</label>
        <input type="text" name="username">
        <input type="submit" name="join" value="Join Lobby">
    </form>
  </div>
</div>
